/* google font "poppins" */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* tailwind and daisy ui */
@import "tailwindcss";
@plugin "daisyui";

/* theme colors for light and dark */
@plugin "daisyui/theme" {
    name: "light";
    default: true;

    --color-primary: #14C2ED;
    --color-secondary: #0EA5E9;
    --color-accent: #34D399;
    --color-neutral: #02020299;

    --color-base-100: #FFFFFF;
    --color-base-200: #F2F7FA;
    --color-base-300: #E3EDF1;

    --color-info: #38BDF8;
    --color-success: #22C55E;
    --color-warning: #FACC15;
    --color-error: #EF4444;
}

@plugin "daisyui/theme" {
    name: "dark";

    --color-primary: #14C2ED;
    --color-secondary: #0C8DB8;
    --color-accent: #2DD4BF;
    --color-neutral: #EBF9FF;

    --color-base-100: #0D0F12;
    --color-base-200: #13161B;
    --color-base-300: #1C1F25;

    --color-info: #0EA5E9;
    --color-success: #16A34A;
    --color-warning: #F59E0B;
    --color-error: #DC2626;
}

/* custom styles */
* {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--color-base-200);
}

.active {
    background-color: var(--color-primary);
    color: #fff;
}

.btn-primary {
    background-color: var(--color-primary);
    color: #fff;
}

.btn-primary:hover {
    background-color: var(--color-secondary);
}

.label {
    font-weight: 600;
}

p {
    color: var(--color-neutral);
}